@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@1,300&family=Noto+Sans&family=Playfair+Display&display=swap');

bory {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    }
.main-cadastro {
    width: 100vw;
    height: 100vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-cadastro{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-cadastro > h1 {
    font-size: 2vw;
    color: rgb(165, 42, 42);
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

.left-cadastro-image{
    width: 30vw;

}

.right-cadastro{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textfield{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #00000056;
    border-radius: 20px;
    box-shadow: 0px 10px 40px;
    font-family: 'Noto Sans', sans-serif;
}

.card-cadastro > h1 {
    color: brown;
    text-align: center;
    font-weight: 800;
    margin: 20;  
    padding: 20px 25px;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #9c7a7a86;
    color: aliceblue;
    font-size: 12pt;
    box-sizing: 0px 10px 40px;
    font-family: 'Noto Sans', sans-serif;
    
}

.textfield > label{
    color: rgb(8, 8, 8);
    margin-bottom: 10px;

}

.textfield > input::placeholder {
    color: aliceblue;   
    font-family: 'Noto Sans', sans-serif;
}

.ptn-enviar{
    width: 100%;
    padding: 16px 0px;
    margin: 25%;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 10px 40px; color: #00000056;
 
}

@media only screen and (max-width: 950px){
    .card-cadastro{
        width: 85%;
    }
}